.toolbar-background {
    border-color: #ffffff;
    background: $main;
}

.button-clear , .tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tab-button-text {
  color: $main;
}
.toolbar-title-md {
  color:white !important;
}

.btn-yellow {
  background: $main;
}
.btn-yellow:hover {
  background: #dc5b5b !important;
}

textarea {
   resize: both;
}

.list-md[inset] {
  margin: 0px;
}

ion-label {
  white-space: inherit;
}

ion-badge {
  background: $main;
}

.badge-md {
  background: $main;
  color: white;
}


.md,
.wp {
    .back-button {
        color: white !important;
    }
}
